/* BottomNav.css */
.bottom-nav {
    background-color: #121212;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .nav-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav-icon.active {
    color: #f1c40f;
  }
  
  /* Media Queries */
  @media (min-width: 992px) {
    .bottom-nav {
      display: none;
    }
  }
  