.mainContainer {
  height: 100vh;
  flex-grow: 1;
  z-index: 1;
  overflow-y: scroll;
  background: #ECF0F1;
  backdrop-filter: blur(10px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

  /* Media Queries for small screens */
  @media (max-width: 992px) {
    .collapsed,
    .expanded {
      margin-left: 0;
      /* margin-top: 40px; */
    }
  }
  