/* Sidebar Styles */
.sidebar {
    background-color: #1abc9c;
    color: white;
  }
  
  .sidebar a {
    color: lightgray;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: white;
  }
  
  .collapsed .sidebar {
    width: 80px;
  }
  
  .sidebar h4 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }

  
  /* Menu container styles */
  .MenuContainer ul {
    width: 100%;
    padding: 0;
    background-color: #1abc9c;
    /* color: white; */
  }
  
  .MenuContainer ul li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0;
    position: relative;
    
  }
  
  .MenuContainer ul li a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .MenuContainer ul li a i {
    font-size: 18px;
    margin-right: 15px;
  }
  
  .MenuContainer ul li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -8px;
    width: 5px;
    height: 100%;
    background: transparent;
    border-radius: 5px;
    transition: width 0.3s, background-color 0.3s;
  }
  
  .MenuContainer ul li.active::before {
    background: #F1C40F;
    width: 5px;
  }
  
  .MenuContainer ul li:hover::before {
    background: #F1C40F;
  }
  
  .MenuContainer ul li:hover a,
  .MenuContainer ul li.active a {
    color: #FFFFFF;
    transition: color 0.3s;
  }

  @media (max-width: 992px) {
    .sidebar {
        display: none; 
        
    }
    .MenuContainer{
      display: none;
    }
    .logo{
      display: none;
    }
    .main-content {
      margin-left: 0 !important;}
}
